.Footer {
    background-color: var(--primary-color);
   
    position: relative;
    top: 50px;
    width: 100%;
<<<<<<< Updated upstream
    height: 60vh;
    
}
.container1{
    width: 30%;
    margin: 4vw;
    height:65%;
    border: solid;
    left: 0;
=======
    height: 80vh;
    display: flex;
    justify-content: space-between;
   
    
}
.footerEnd{
    background-color: var(--primary-color);
    width: 100%;
  
   
}

.title2{
    width: 25vw;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    font-family: 'Inter';
}
.container1{
    width: 30%;
    margin: 4vw;
    height:59%;
    border: solid;
    left: 0;
    position: relative;
    border: none;
    
}
.container2{
    width: 30%;
    margin: 4vw;
    height:59%;
    border: solid;
    left: 0;
    position: relative;
    border:none
    
>>>>>>> Stashed changes
}
.title1{
    width: 20vw;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}
<<<<<<< Updated upstream
a{
    color: gray;
    position: relative;
    top: 9px;
}
.inov{
    color: black;
}
=======
.link1{
    color: var(--secondary-color);
    position: relative;
    top: 9px;
    font-weight: light;
}
.inov{
    font-family: 
    Poppins;
 
    color: black;
}
.Email{
    width: 340px;
    height: 30px;
    background-color: var(--primary-color);
    border: none;
    border-bottom: solid 1px gray;
    outline: none;
}

.signupText{
    width: 20vw;
    font-weight:light;
    font-family: "inter";
    font-style: normal;
   width: 25vw;
   position: relative;
    left: 19px;
    bottom:  19px;
     color: var(--secondary-color);
    
   
}
#check{
    background-color: var(--primary-color);
    opacity: 0.6;
    position: relative;
    top:2px;
}
.Subscribe{
     background-color: black;
     color:white;
 }
 
>>>>>>> Stashed changes
