.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar>a{
    margin-left: 1.2vw;
}

.navbar-container h1 {
    font-size: calc(12px + 1.5vw);
    margin-right: 20px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
}

.navbar li a{
    background-color: var(--primary-color);
    display: block;
    width: 7vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    font-size: calc(4px + .9vw);
}


.navbar li a:hover {
    background-color: var(--dark-primary-color);

}

.navbar li:first-child a
{
    border-radius: 0.8vw 0 0 0.8vw;
}

.navbar li:last-child a
{
    border-radius: 0 0.8vw 0.8vw 0;
}

.navbar a{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: large;
    font-weight: 400;
    color: var(--secondary-color);
}

.hamburger-btn {
    width: 3vw;
    cursor: pointer;
    display: block;
    margin: 0;
}

.navigation {
    visibility: hidden;
}