.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar>a{
    margin-left: 1.2vw;
}

.navbar-container h1 {
    font-size: calc(12px + 1.5vw);
    margin-right: 20px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
}

.navbar li a{
    background-color: var(--primary-color);
    display: block;
    width: 7vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    font-size: calc(4px + .9vw);
}


.navbar li a:hover {
    background-color: var(--dark-primary-color);

}

.navbar li:first-child a
{
    border-radius: 0.8vw 0 0 0.8vw;
}

.navbar li:last-child a
{
    border-radius: 0 0.8vw 0.8vw 0;
}

.navbar a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 400;
    color: var(--secondary-color);
}

.hamburger-btn {
    width: 3vw;
    min-width: 30px;
    cursor: pointer;
    display: block;
    margin: 0;
}

.navigation {
    visibility: hidden;
}

/* Media Queries */
@media screen and (min-width: 801px) {
    .navbar-container h1 span {
        color: var(--primary-color)
    }
}
@media screen and (max-width: 800px) {
   
    .navbar-container h1 {
        z-index: 1;
        position: relative;
    }
    .hamburger-btn
    {
        z-index: 1;
        position: relative;
    }
    .navigation
    {
        background-color: var(--primary-color);
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        
    }
    .navbar ul {
        display: block;
        margin: 20vh 0;
    }
    .navbar li a {
        width: 100%;
        height: 10vh;
        line-height: 10vh;
        text-align: center;
        font-size: calc(4px + 4vh);
    }
    .navbar li:first-child a,
    .navbar li:last-child a 
    {
        border-radius: 0;
    }
}