.primary-color
{
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}

button {
    font-family: 'Poppins';
    font-size: 15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 150px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    color: #fff;
    background-color: var(--dark-primary-color);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

button:active {
    transform: translateY(3px);
}