.about
{
    margin-top: calc(50px + 10vw);
}

.description
{   
    /* justify-content: space-evenly; */
    margin-bottom: 100px; 
    /* margin-right: 50px; */ 
}
 
.description-details
{  
    width: 35%; 
} 
 
p
{     
    margin-top: 15px; 
    font-family: 'Poppins'; 
    font-weight: 200;  
}

.last-item {
    order: 1; 
}
.img-teamwork,.img-build,.img-vision{
 
    display: flex;
    justify-content: center;
    width: 40%;   
 }
.img-build{
    /* margin-right: -6%;
    margin-left: -0% ; */
}
.img-teamwork img,.img-vision img,.img-build img
{  
     margin-bottom: 40px;
}
.img-teamwork img{
     width: 120%; 
     margin: auto;
} 
.img-vision img{
     width: 60%;  
} 
.img-build img{
     width: 70%; 
     margin: auto;
}
 

@media screen and (max-width: 800px)
{
    .description 
    { 
        margin-top: 40px; 
    }
    .description-details {
        width: 80%;   
    }
  
    p {
        text-align: center; 
        letter-spacing: 1px;
    }

    
    .img-teamwork,.img-build,.img-vision{
        width: 80%; 
        margin: auto; 
    }
   
    .img-teamwork img{
        width: 120%;  
        margin-bottom: 15px; 
    } 
    .img-vision img{
        width: 60%;  
        margin: auto; 
        margin-bottom: 30px; 
    } 
    .img-build img{
        width: 80%; 
        margin-bottom: 15px;   
    
    } 

    /* .img-teamwork{
        width: 100%; 
    }
    .img-build
    {
        width: 70%; 
    }
    
    .img-vision
    {
        width: 80%; 
    }
  */
    
}