.Contact{
  width: 100%;
}
.ContainerContact1 form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.1vw;
    margin: 5vw;
    position: relative;
    margin-top: 2vw;

}
  
.ContainerContact1 label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    
}
  
.ContainerContact1 input{
  padding: 5px;
  border-radius: 0px;
  border: none;
  outline: none;
  background-color: var(--secondary-cokor);
  border-bottom: 2px solid #fff;
  color: #fff;
  width: 220%;

    
}
.ContainerContact1 textarea {
  
  resize: none;
  border: none;
  outline: none;
  background-color: var(--secondary-cokor);
  border-bottom: 2px solid #fff;
  color: #fff;
  width: 225%;


}
  
.ContainerContact1 button[type="submit"] {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
  border-radius: 100px;
  color: var(--dark-secondary-color);
  font-weight: 500;
  width: 15vw;
  
}
  
.ContainerContact1 button[type="submit"]:hover {
  color: white;
  background-color: var(--dark-primary-color);
  border-radius: 100px;
  color: var(--dark-secondary-color);
  font-weight: 500;
  width: 15vw;
  
  
  
}
.Info{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 4.3vw;
  line-height: 120%;
  margin: 5vw;
  margin-bottom: 0;
}
.ContainerContact2 {
  position: relative;
  left: 36%;
  margin-right: 10vw;
  width: 25%;
  top : 150px;
  
}
.p1, .p2, .p3, .p4{
  text-align: left;
  
}
.p1, .p3{
  font-size: 2vw;
  margin-bottom: 0;
  font-weight: 700;
}
.p2, .p4{
  font-size: 1vw;
  margin-bottom: 5vw;
  font-weight: 400;
}

.ContainerContact{
  display: flex;
}
.ContainerContact3{
  display: flex;
  top: 410px;
  position: relative;
  
}
.facebook {
  margin-right : 2vw;
  color: var(--primary-color);
}
.insta{
  margin-right: 2vw;
  color: var(--primary-color);
}
.twitter{
  color: var(--primary-color);
}
button {
  position: relative;
  left: 50%;
}
@media screen and (max-width: 800px)
{
  .Contact{
    align-items: center;
   
  }
  .ContainerContact1{
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    
    right: -20%;
  }
  .ContainerContact1 input{
    padding: 5px;
    border-radius: 0px;
    border: none;
    outline: none;
    background-color: var(--secondary-cokor);
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 100%;
  
      
  }
  
  .ContainerContact1 button[type="submit"]
    {
    position: relative;
    left: 5%;
    display: flex;
    width: 100%;
    text-align: center;

    
    }
    .ContainerContact1 button[type="submit"]:hover {
      color: white;
      background-color: var(--dark-primary-color);
      border-radius: 100px;
      color: var(--dark-secondary-color);
      font-weight: 500;
      width: 100%;
      text-align: center;
      left: 5%;
    }
    .Info{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 5.3vw;
      line-height: 120%;
      margin: 5vw;
      margin-bottom: 0;
      position: relative;
      left: 28%;
    }
    .ContainerContact1 textarea {
  
      resize: none;
      border: none;
      outline: none;
      background-color: var(--secondary-cokor);
      border-bottom: 2px solid #fff;
      color: #fff;
      width: 100%;
    
    
    }
    .p1, .p3{
      font-size: 3vw;
      margin-bottom: 0;
      font-weight: 700;
      position: relative;
      top: 70%;
      right: 220%;
    }
    .p2, .p4{
      font-size: 1vw;
      margin-bottom: 5vw;
      font-weight: 400;
      position: relative;
      top: 70%;
      right: 220%;
    }
    .ContainerContact3{
      display: block;
      top: 80%;
      position: absolute;
      right: 40%;
    }
    .facebook {
      margin-right : 2vw;
      color: var(--primary-color);
    }
    .insta{
      margin-right: 2vw;
      color: var(--primary-color);
    }
    .twitter{
      color: var(--primary-color);
    }

}