.GameUi{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    overflow: hidden;
}
