.GameUi{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.use-desktop{
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .GameUi{
        visibility: hidden;
    }
    .use-desktop{
        visibility: visible;
        color: var(--primary-color);
    }

}
