.background img
{
   width: 100%;
   margin: 0;
top: 0;
z-index: -1;
position: absolute;
}
.to {
    font-size: 48px;
    font-weight: bolder;
color: var(--primary-color);


}
.p1{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 20px;
}

.p2{
   margin-bottom: 10px;
    font-size: 36px;  
    font-weight: bolder;

}
.innovation{
    font-weight: bolder;
    font-size: 36px;
    color: var(--primary-color);
}
.par1{
   font-size: small;
   font-family: 'Poppins';

}
.par2{
    margin: 0.5px;
    font-size: small;
    font-family: 'Poppins';
   
}
.nav1{ 
position: absolute;    
right: 0;
margin-right: 20%;
}
.ul1 {
    list-style: none;

}