.notFound
{
    margin-top: calc(50px + 10vw);
}

.notFound-space {
    margin: 0 8vw 0 10vw;
}

#notFound-moon {
    width: 30%;
    margin-bottom: 13%;
}

#notFound-fog {
    width: 25%;
    padding-top: 15%;
    transform: translate(-118%, -5%);
    position: relative;
    z-index: -1;
}

#notFound-earth
{
    width: 9%;
    margin-left: -48%;
    margin-bottom: 2%;
}

#notFound-astronaut
{
    width: 12%;
    margin-left: 48%;
    margin-bottom: 5%;
}

.notFound-description
{
    text-align: center;
    font-family: 'Poppins';
    width: fit-content;
    margin-bottom: 20%;
    transform: translate(180%, -300%);
}

.notFound-description h2
{
    font-size: 4vw;
}

.notFound-description h4 
{
    font-size: 3vw;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.rotate-1 {
    animation: rotation 1s infinite linear;
}
.rotate-2 {
    animation: rotation 2s infinite linear;
}
.rotate-3 {
    animation: rotation 3s infinite linear;
}
.rotate-4 {
    animation: rotation 4s infinite linear;
}
.rotate-5 {
    animation: rotation 5s infinite linear;
}
.rotate-10 {
    animation: rotation 10s infinite linear;
}
.rotate-30 {
    animation: rotation 30s infinite linear;
}
.rotate {
    animation: rotation 300s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}